.slideShow {
    position: relative;
    min-width: 100vw;
}

.slideShow>img {
    transition: all .1s ease-in-out;
    z-index: -1;
    min-width: 100vw;
    object-fit: contain;
}

.btn {
    font-size: 70px !important;
    font-weight: 100 !important;
}

.btn_left {
    position: absolute;
    left: 0;
    top: 20%;
}

.btn_right {
    position: absolute;
    right: 0;
    top: 20%;
}