.header {
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #131921;
    z-index: 100;
    overflow: hidden;
    min-width: 100vw;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 15px 20px 0 20px;
}

.header__search {
    display: flex;
    flex: 10;
    align-items: center;
    border-radius: 5px;
    transition: border .1s linear;
}

.header__searchInput {
    height: 20px;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.header__search .header__searchInput:focus {
    border: 5px solid #d47c08;
}

.header__searchIcon {
    padding: 5px 8px;
    height: 30px !important;
    background-color: #cd9042;
    transition: border .1s linear;
}

.header__searchIcon:hover {
    background-color: #df840e;
}

.header__nav {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 4px;
    transform: .2s ease-in-out;
}

.header__option:hover {
    border: 1px solid white;
}

.header__lineOne {
    width: 100px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.dropdownMenuUser {
    position: relative;
    top: 10%;
    z-index: 1000;
}

.header__lineTwo {
    font-size: 15px;
    font-weight: 500;
}

.header__cart {
    display: flex;
    flex: 1;
    align-items: center;
}

.cartCounting {
    color: #df840e;
    font-weight: 700;
}

.route__link {
    text-decoration: none;
}